NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0
API_URL=https://gam3a.scientific-thought.com/api
NEXT_PUBLIC_API_URL=https://gam3a.scientific-thought.com/api
ADMIN_URL=https://gam3a.scientific-thought.com/admin
